{% extends 'base.html.twig' %}

{% block title %}Quiz Pokémon{% endblock %} {# Nom de la page #}

{% block body %}
    <h1>Bienvenue sur la page d'accueil du Quiz Pokémon</h1> {# Titre #}
{% endblock %}