{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/connection.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %} Connexion {% endblock %} {# Nom de la page #}

{% block body %}
    <h1>Connexion</h1>
{% endblock %}